
p {
	color: #555;
}

#text {
	margin-top: 32%;
	margin-bottom: 5%;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2, 117, 216, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.img1, .img2, .img3, .img4, .img5, .img6 {
	width: 100%;
	position: absolute;
} 

li, .author {
	text-transform: uppercase;
	font-weight: 900;
	padding: 1%;
}
