

/*div {
    border: 1px solid green;
}*/

#home_background {
    background: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 25rem;
}

.button_checkme {
    /*background-color: #f38039;*/
    background-color: orange;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    display:block;
    margin:0 auto;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243, 128, 57, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.name {
    font-weight: bold;
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.description {
    font-size: 1.5rem;
    color: white;
    font-style: italic;
    text-align: center;
}

.icon {
    max-width: 80%;
    padding: 2%;
}

#skills_section, #contact_section, #work_section {
    padding-top: 6rem;
    padding-bottom: 6rem;
/*    border-top: 1px solid orange;
    border-bottom: 1px solid orange;*/
}

#contact_section {
    background-color: orange;
}

#designer {
    background-color: #ffa500;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.project {
    max-width: 100%;
    padding: 2%;
    border-radius: 10px;
}



// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }