
body {
    font-family: 'Roboto', sans-serif;
}

#top_section a, #skills_section li a {
    color: #5e2571;
}

#top_section a:hover {
    color: #ffa500;
}

.card .card_info {
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    border-radius: 6px;
    color: black;
    position: absolute;
    opacity: 0;
    height: 83%;
    width: 96%;
    margin: 2%;
    transition-duration: 1s;
}

.card_info:hover {
  background-color: white;
  opacity: 1;
}

#wrapper_iskillu, #wrapper_darts, #wrapper_portfolio, #wrapper_apex, #wrapper_pixel2, #wrapper_loader {
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
}

#inner1_iskillu, #inner1_darts, #inner1_portfolio, #inner1_apex, #inner1_pixel2, #inner1_loader {
    float:left; 
}

#inner2_iskillu, #inner2_darts, #inner2_portfolio, #inner2_apex, #inner2_pixel2, #inner2_loader {
    float:left; 
    clear: left;
    padding-top: 25%;
} 

#work_section a {
    text-decoration: none;
}

.card-text {
    color: black;
    text-align: center;
    padding-bottom: 0.5rem;
}

#home_background {
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 4rem;
}

.button_cta {
    background-color: #ffa500;
    color: black;
    font-size: 1.5rem;
  /*  display:block;*/
    /*margin:0 auto;*/
    margin-top: 2rem;
    box-shadow: 5px 5px 15px #404040;
    font-weight: 700;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 165, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.name {
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    position: relative;
    font-family: 'Roboto Slab', serif;
    color: #ffa500;
    text-shadow: 1px 3px 3px black;
}

.jobtitle {
    font-size: 2rem;
    color: white;
    opacity: 0.3;
    text-align: center;
    font-style: italic;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.extra_text {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
}

#statement h4 {
    color: white;
    text-shadow: 1px 3px 8px black;
    line-height: 1.2;
    margin-bottom: 0.75rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-align: center;
}

.icon {
    max-width: 50%;
    padding: 2%;
}

.progress {
    margin: 0.55rem;
    height: auto;
}

.skills_progress_bar {
    text-align: left;
    color: black;  
    font-size: 1rem;
    line-height: normal;
    padding: 1%;
    background-color: #ffd280!important;
}

.progress-bar {
    color: black;  
}

#skills_section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    font-weight: lighter;
}

.skills-col {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#work_section {
    padding-bottom: 6rem;
}

#footer_section {
    padding-top: 1rem;
}

footer .author {
    margin-top: 5%;
    margin-bottom: 5%;
}
#contact_section {
    background-color: #ffa500;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#statement {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 6rem;
}

.project {
    padding: 2%;
}

.project2 {
    padding: 2%;
    margin: 2%;
}

.project3 {
    padding: 2%;
    margin: 12%;
}

.title {
    margin-bottom: 3rem;
    margin-top: 6rem;
}

#footer_section p {
    padding-top: 1.75rem;
}

#work_section h1 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

span.client {
    font-weight: bold;
    color: #5e2571;
    float: right;
}

/*css trick to make an empty line*/
span::before {
  content: "\A";
  white-space: pre;
}

#recommendations {
    /*height: 24rem;*/
}

p.recommendation {
    font-style: italic;
    font-weight: lighter;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: large;
}

.nav {
    flex-wrap: nowrap;
}

/*Small devices*/
@media only screen and (max-width: 900px) {
    #skills_section {
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-weight: lighter;
    }
    .icon {
        max-width: 70%;
        padding: 2%;
    }
    .kropki {
        align-content: center;
        padding: 4rem;
    }
    .navbar-desktop {
        display: none;
    }
}

@media only screen and (min-width: 901px) {
    .kropki {
        align-content: center;
        padding: 8.5rem;
    }
    .navbar-mobile {
        display: none;
    }
}

/*Animations*/
.name {
  -webkit-animation-name: name-colour; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: name-colour;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes name-colour {
  0% {color: #ffa500;}
  25% {color: #e36990;}
  45% {color: white;}
  70% {color: #e36990;}
  90% {color: #ffa500;}
  100% {color: #ffa500;}
}

/* Standard syntax */
@keyframes name-colour {
  0% {color: #ffa500;}
  25% {color: #e36990;}
  45% {color: white;}
  70% {color: #e36990;}
  90% {color: #ffa500;}
  100% {color: #ffa500;}
}

#interpersonal-skills {
    -webkit-animation-name: slideleft;
    -webkit-animation-duration: 9s;
    animation-name: slideleft;
    animation-duration: 9s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slideleft {
  from {left: -500px;}
  to {left: 0px;}
}

/* Standard syntax */
@keyframes slideleft {
  from {left: -500px;}
  to {left: 0px;}
}

#trivia {
    -webkit-animation-name: slideright;
    -webkit-animation-duration: 15s;
    animation-name: slideright;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

/* Standard syntax */
@keyframes slideright {
  from {opacity: 0;}
  to {opacity: 100;}
}


.kropka {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    display: inline-flex;
    margin: 5px auto;
    opacity: 0;
}

.k1, .k2, .k3, .k4, .k5 {
    -webkit-animation-name: loading-animation-kropka;
    -webkit-animation-duration: 9s;
    animation-name: loading-animation-kropka;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.k1 {
    animation-delay: 5s;
    background-color: #ffa500;
}

.k2 {
    animation-delay: 5.5s;
    background-color: #e36990;
}

.k3 {
    animation-delay: 6s;
    background-color: #5e2571;
}

.k4 {
    animation-delay: 6.5s;
    background-color: #e36990;
}

.k5 {
    animation-delay: 7s;
    background-color: #ffa500;
}

@keyframes loading-animation-kropka {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}


