
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover, .card-cta:hover {
    color: #ffa500;
    text-decoration: none;
}

.deerclop {
    color: black;
    font-weight: bolder;
}

.card-cta {
    color: black;
    text-align: right;
    font-weight: bold;
    margin: 0;
}

.card-text {
    font-weight: lighter;
    text-align: left;
}

.card-body {
    padding: 0.5rem;
}

.card {
    margin-bottom: 1.75rem;
    border: none;
}

#home_background {
    background: url('../images/hero-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#hero_section {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.button_cta {
    background-color: #ffa500;
    color: black;
    font-size: 1.3rem;
/*    margin-top: 2rem;*/
    font-weight: 700;
    border-radius: 55px;
}

#top_section .button_cta:hover {
    background-color: black;
    color: #ffa500;
    border: 2px solid #ffa500;
}

.button_cta:hover {
    background-color: white;
    color: #black;
    border: 2px solid #ffa500;
}

.button_hire {
    background-color: black;
    color: #ffa500;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 700;
    border-radius: 55px;
    border: 2px solid #ffa500;
}

.button_hire:hover {
    background-color: #ffa500;
    color: black;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 165, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.extra_text {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-bottom: 1rem;
}

#skills_section .extra_text {
    padding-bottom: 0;
}

.headline {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icon {
    max-width: 50%;
    margin-top: 1rem;
}

.progress {
    margin: 0.55rem;
    height: auto;
}

.skills_progress_bar {
    text-align: left;
    color: black;  
    font-size: 1rem;
    line-height: normal;
    padding: 1%;
    background-color: rgba(240, 86, 177, 0.35);
}

.progress-bar {
    color: black;  
}

#skills_section {
    padding-bottom: 6rem;
    font-weight: lighter;
}

.skills-col {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#work_section {
    padding-bottom: 6rem;
}

footer .author {
    color: black;
    font-weight: lighter;
    font-size: smaller;
    padding-top: 0.5rem;
    text-align: center;
}

#contact_section_black p {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
}

#contact_section_black {
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    color: white;
}

.pph-logo {
    max-width: 50%;
}

#statement {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 6rem;
}

.project {
    padding: 2%;
    border: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom: none;
}

.card-body {
    padding: 2%;
    border: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top: none;
}

/*.title {
    margin-bottom: 3rem;
    margin-top: 6rem;
}*/

#work_section h1 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

span.client {
    float: right;
    font-weight: lighter;
    font-size: smaller;
}

p.recommendation {
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 3rem;
    font-size: large;
}

.nav {
    flex-wrap: nowrap;
}

.nav-black {
    background-color: black;
}

.nav-link {
    color: #808080;
}

/*Small devices*/
@media only screen and (min-width: 300px) and (max-width: 900px) {
    .icon {
        max-width: 50%;
        margin-top: 1rem;
    }
    .pph {
        margin-top: 2rem;
    }
    .ghost-nav, .about-me-desktop {
        display: none;
    }
    .mobile-nav {
        background-color: black;
    }
    .space-evenly {
        justify-content: space-evenly;
    }
    #footer_section {
        margin-bottom: 3rem;
    }
    .headline {
        font-size: 1.75rem;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 2rem;
    }
    .hero-img-mobile {
        padding-top: 2rem;
    }
}

@media only screen and (min-width: 901px) {
    .mobile-nav, .about-me-mobile {
        display: none;
    }
}

/*Animations*/
.name {
    -webkit-animation-name: name-colour;
    -webkit-animation-duration: 10s;
    animation-name: name-colour;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes name-colour {
    0% {color: #ffa500;}
    25% {color: #e36990;}
    45% {color: white;}
    70% {color: #e36990;}
    90% {color: #ffa500;}
    100% {color: #ffa500;}
}

/* Standard syntax */
@keyframes name-colour {
    0% {color: #ffa500;}
    25% {color: #e36990;}
    45% {color: white;}
    70% {color: #e36990;}
    90% {color: #ffa500;}
    100% {color: #ffa500;}
}

/*#interpersonal-skills {
    -webkit-animation-name: slideleft;
    -webkit-animation-duration: 9s;
    animation-name: slideleft;
    animation-duration: 9s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}*/

/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes slideleft {
  from {left: -500px;}
  to {left: 0px;}
}*/

/* Standard syntax */
/*@keyframes slideleft {
  from {left: -500px;}
  to {left: 0px;}
}*/

/*#trivia {
    -webkit-animation-name: slideright;
    -webkit-animation-duration: 15s;
    animation-name: slideright;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}*/

/* Standard syntax */
@keyframes slideright {
  from {opacity: 0;}
  to {opacity: 100;}
}

.kropki {
    position: absolute;
    align-self: center;
    vertical-align: middle;
    padding-top: 35%;
}

.kropka {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    display: inline-flex;
    margin: 5px auto;
    opacity: 0;
}

.k1, .k2, .k3, .k4, .k5 {
    -webkit-animation-name: loading-animation-kropka;
    -webkit-animation-duration: 9s;
    animation-name: loading-animation-kropka;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.k1 {
    animation-delay: 5s;
    background-color: #ffa500;
}

.k2 {
    animation-delay: 5.5s;
    background-color: #e36990;
}

.k3 {
    animation-delay: 6s;
    background-color: rgba(240, 86, 177, 0.35);
}

.k4 {
    animation-delay: 6.5s;
    background-color: #e36990;
}

.k5 {
    animation-delay: 7s;
    background-color: #ffa500;
}

@keyframes loading-animation-kropka {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}


