    
* {
    font-family: 'Lora', serif;
}

/*div {
    border: 1px solid red;
}*/

.green {
    border: 1px solid green;
}

p {
    color: #021f40;
    text-align: center;
}

/*home page*/
p.quote {
    text-align: center;
    font-size: 3vw;
}

div.quote {
    padding-top: 15%;
    padding-bottom: 15%;
}

a:link {
    text-decoration: none;
}

.extra_text {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #021f40;
    font-size: 1.5vw;
    font-family: 'Petit Formal Script', cursive;
}

.plain_text {
    text-align: center;
    color: #021f40;
    font-size: 1.5vw;
}


.portfolio_text {
    padding-bottom: 5%;
    font-size: 1vw;
}

/*header*/
header {
    min-width: 100%;
    height: auto;
    background-color: #021f40;
}

.name {
    font-weight: bold;
    color: white;
    font-size: 6vw;
    text-transform: uppercase;
}

.desciption {
    font-size: 2vw;
    color: white;
    font-style: italic;
    font-family: 'Petit Formal Script', cursive;
}

.header_text_padding {
    padding-top: 8%;
}

.header_text {
}

.header_photo {
    max-width: 80%;
    max-height: 80%;
}

.header_line_white_thick {
    width: 100%;
    height: 1vw;
    background-color: white;
}

.header_line_white_thin {
    width: 100%;
    height: 0.50vw;
    background-color: white;
}

.header_line_blue_thin {
    width: 100%;
    height: 0.10vw;
    background-color: #021f40;
}

.header_line_blue_thick {
    width: 100%;
    height: 0.30vw;
    background-color: #021f40;
}

.header_double_line_divider {
    width: 60%;
    height: auto;
    float: right;
}


/*footer*/
.footer_main {
    min-width: 100%;
    height: auto;
    background-color: #021f40;
    padding-top: 2%;
    padding-bottom: 1%;
}

footer p {
    text-align: center;
    font-size: 1vw;
    color: white;
}

ul {
    list-style-type: none;
}

.footer-icons ul li {
    float: left;
    text-align: center;
    width: 25%;
    margin: auto;
    padding: 0;
  }

.footer-icons ul {
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 0;
}

.social_blue_line {
    width: 100%;
    height: 0.10vw;
    margin-top: 4%;
    background-color: #021f40;
}

.footer_icon {
    padding: 15%;
}

.icon:hover {
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    background: transparent;
}

select option:first-child {
    color: grey; display: none;
}

/*contact page*/
.contact_content {
    text-align: center;
    font-size: 1.5vw;
    padding-top: 15%;
    padding-bottom: 15%;
}

.contact_form_top {
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact_icon {
    padding: 5%;
}

.contact_text {
    text-align: left;
    font-size: 1.5vw;
    margin-bottom: 10%;
    display: inline-block;
}

.contact_extra_text {
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    color: #021f40;
    font-size: 1.5vw;
    font-family: 'Petit Formal Script', cursive;
}

.contact_plain_text {
    color: #021f40;
    font-size: 1vw;
    text-align: justify;
}



/*portfolio page*/
.portfolio_top_menu {
    margin-top: 15%;
    text-transform: uppercase;
    font-weight: bold;
}

.portfolio_img {
    margin: 2%;
    max-height: 100%;
    max-width: 100%;
}

.portfolio_padding {
    padding-top: 7%;
    padding-bottom: 7%;
}

.portfolio_padding_bottom {
    padding-bottom: 15%;
}

.skills_part {
    margin-bottom: 3%;
    margin-top: 3%;
}

.skill_plain_text {
    color: #021f40;
    font-size: 1.2vw;
    text-align: justify;
    margin-left: 5%;
}

.skill_icon {
    padding: 2%;
    width: 11%;
    float: left;
}

.border_bottom {
    border-bottom: 1px solid #021f40;
}