    
* {
    font-family: 'Lora', serif;
}

/*div {
    border: 1px solid red;
}*/

p {
    color: #021f40;
    text-align: center;
}

/*home page*/
p.quote {
    text-align: center;
    font-size: 3vw;
}

div.quote {
    padding-top: 15%;
    padding-bottom: 15%;
}

a:link {
    text-decoration: none;
}

.text {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #021f40;
    font-size: 1.5vw;
}

/*header*/
header {
    min-width: 100%;
    height: auto;
    background-color: #021f40;
}

.name {
    font-weight: bold;
    color: white;
    font-size: 6vw;
    text-transform: uppercase;
}

.desciption {
    font-size: 2vw;
    color: white;
    font-style: italic;
    margin-left: 13%;
}

.header_text {
    padding-top: 2%;
    margin-left: 10%;
}

.header_line_white_thick {
    width: 100%;
    height: 1vw;
    background-color: white;
}

.header_line_white_thin {
    width: 100%;
    height: 0.50vw;
    background-color: white;
}

.header_line_blue_thin {
    width: 100%;
    height: 0.10vw;
    background-color: #021f40;
}

.header_line_blue_thick {
    width: 100%;
    height: 0.30vw;
    background-color: #021f40;
}

.header_double_line_divider {
    width: 60%;
    height: auto;
    float: right;
}

.bot {
    border: 1px solid red;
}

/*footer*/
.footer_main {
    min-width: 100%;
    height: auto;
    background-color: #021f40;
    padding-top: 2%;
    padding-bottom: 1%;
}

footer p {
    text-align: center;
    font-size: 1vw;
    color: white;
}

ul {
    list-style-type: none;
}

.footer-icons ul li {
    float: left;
    text-align: center;
    width: 25%;
    margin: auto;
    padding: 0;
  }

.footer-icons ul {
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 0;
}

.social_blue_line {
    width: 100%;
    height: 0.10vw;
    margin-top: 4%;
    background-color: #021f40;
}

.footer_icon {
    padding: 15%;
}

.icon:hover {
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    background: transparent;
}

select option:first-child {
    color: grey; display: none;
}

/*contact page*/
.contact_content {
    text-align: center;
    font-size: 1.5vw;
    padding-top: 15%;
    padding-bottom: 15%;
}

.contact_form_top {
    margin-top: 10%;
    margin-bottom: 5%;
}

.contact_form_bottom {
    margin-top: 5%;
    margin-bottom: 15%;
}

.top_menu {
    margin-top: 15%;
    text-transform: uppercase;
    font-weight: bold;
}

.portfolio_img {
    margin: 2%;
}