    
/*fonts*/
    * {
        font-family: 'Lora', serif;
        /*font-family: 'Playfair Display', serif;*/
    }

    /*div {
        border: 1px solid green;
    }*/

    .plain_text {
        text-align: center;
        color: #021f40;
        font-size: 1.75rem;
        line-height: 1.5;
    }

    .extra_text {
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: #021f40;
        font-size: 2.5rem;
        font-family: 'Petit Formal Script', cursive;
    }

    .extra_text_left {
        font-weight: bold;
        font-style: italic;
        text-align: justify;
        color: #021f40;
        font-size: 2.5rem;
        font-family: 'Petit Formal Script', cursive;
    }

    .plain_text_left {
        color: #021f40;
        font-size: 1.75rem;
        text-align: justify;
    }

    footer p {
        text-align: center;
        font-size: 1.125rem;
        color: white;
    }

    .contact_text {
        text-align: left;
        font-size: 2rem;
        margin-bottom: 10%;
        display: inline-block;
    }

    .skill_plain_text {
        color: #021f40;
        font-size: 1.5rem;
        text-align: justify;
        margin-left: 5%;
    }

    .name {
        font-weight: bold;
        color: white;
        font-size: 5rem;
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }

    .desciption {
        font-size: 2.5rem;
        color: white;
        font-style: italic;
        font-family: 'Petit Formal Script', cursive;
        text-align: center;
    }

    .name2 {
        font-weight: bold;
        color: #021f40;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
    }

    .text_highlight {
        font-weight: bold;
        color: #021f40;
        font-size: 1.75rem;
        text-align: center;
    }

    .text_highlight_u {
        font-weight: bold;
        color: #021f40;
        font-size: 1.85rem;
        text-align: center;
        text-decoration: underline; 
    }



    /*font-size: 1.125rem;
    font-weight: 300;
    line-height: 22px;
    line-height: 1.375rem;
    margin: 0 auto;
    padding: 20px 0 0 0*/


    /*.portfolio_text {
        padding-bottom: 5%;
        font-size: 1rem;
    }*/

/*home page*/
    .quote {
       text-align: center;
       color: #021f40;
       font-size: 4rem;
    }

    div.quote {
        padding-top: 15%;
        padding-bottom: 15%;
    }

    a:link {
        text-decoration: none;
    }

/*header*/
    header {
        min-width: 100%;
        height: auto;
        background-color: #021f40;
    }

    .header_text_padding {
         padding-top: 1.5em;
    }

    .header_line_white_thick {
        width: 100%;
        height: 1rem;
        background-color: white;
    }

    .header_line_white_thin {
        width: 100%;
        height: 0.50rem;
        background-color: white;
    }

    .header_line_blue_thin {
        width: 100%;
        height: 0.10rem;
        background-color: #021f40;
    }

    .header_line_blue_thick {
        width: 100%;
        height: 0.30rem;
        background-color: #021f40;
    }

    .header_double_line_divider {
        width: 60%;
        height: auto;
        float: right;
    }

    .header_photo {
        display: block;
        margin-left: auto;
        margin-right: auto
    }


/*footer*/
    .footer_main {
        min-width: 100%;
        height: auto;
        background-color: #021f40;
        padding-top: 2%;
        padding-bottom: 1%;
    }

    footer p {
        text-align: center;
        font-size: 1.125rem;
        color: white;
    }

    ul {
        list-style-type: none;
    }

    .footer_icons_bar ul li {
        float: left;
        text-align: center;
        width: 25%;
        margin: auto;
        padding: 0;
      }

    .footer_icons_bar ul {
        text-align: center;
        display: inline-block;
        margin: auto;
        padding: 0;
    }

    .social_blue_line {
        width: 100%;
        height: 0.10rem;
        margin-top: 4%;
        background-color: #021f40;
    }

    .social_bar {
        margin-top: 5%;
    }

    .footer_icon {
        padding: 15%;
    }

    .icon:hover {
        transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        background: transparent;
    }

    select option:first-child {
        color: grey; display: none;
    }

/*contact page*/
    .contact_me {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .contact_icon {
        padding: 5%;
    }

/*portfolio page*/
    .portfolio_menu_text {
        text-transform: uppercase;
        color: white;
        font-size: 1.75rem;
        text-align: center;
    }

    .portfolio_img {
        margin: 1em;
       
    }

    .portfolio_padding {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .portfolio_padding_bottom {
        padding-bottom: 7em;
    }

/*skills page*/
    .skills_part {
        margin-top: 3em;
    }

    .skill_icon {
        padding: 2%;
        width: 11%;
        float: left;
    }

    .border_bottom {
        border-bottom: 1px solid #021f40;
    }

/*calculator page*/
    .calculator_description {
        margin-top: 7.5%;
    }
   
    .calculator {
        max-width: 80%;
        max-height: 80%;
        border-radius: 12px;
        padding: 4%;
        background-color: #b3c9d6;
        box-shadow: 0px 5px #41403F;
        font-weight: bold;
        border: 1px solid #021f40;
        margin-left: auto;
        margin-right: auto;
    }

    #result_screen {
        background-color: #f0d9b5;
        width: 100%;
        height: 100%;
        float: left;
        border: 1px solid #021f40;
        background: linear-gradient(#b3c9d6, #ffffff);
        border-radius: 8px;
        box-shadow: 0px 1px #41403F;
        text-align: right;
        margin-top: 3px;
        overflow: auto visible;
        font-size: 4rem;
    }

    #js_back {
        width: 23%;
    }

    #js_clear {
        width: 48%;
    }

    #equals {
        width: 98%;
    }

    .button_number, .button_operator {
        border-radius: 10px;
        font-size: 3rem;
        text-align: center;
        box-shadow: 0px 4px #41403F;
        -webkit-user-select: none;
        transition: all 0.30s ease;
        margin: 1%;
        float: left;
        width: 23%;
        height: 100%;
        cursor: pointer;
    }

    /* navy-grey design */
    .button_number {
        background: linear-gradient(#f0d9b5, #b58863);
    }

    .button_operator {
        background: linear-gradient(#376273, #8ea8b9);
    }

    div.button_number:hover{
        background: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#EDEDED));
        background: -moz-linear-gradient(top,  #DCDCDC,  #EDEDED);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDCDC', endColorstr='#EDEDED');
    }

    div.button_number:active {
        -webkit-box-shadow: 0px 2px 0px #41403F;
        -moz-box-shadow: 0px 2px 0px #41403F;
        box-shadow: 0px 2px 0px #41403F;
        position: relative;
        top: 5px;
        cursor: pointer;
    }

    div.button_operator:hover{
        background: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#EDEDED));
        background: -moz-linear-gradient(top,  #DCDCDC,  #EDEDED);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDCDC', endColorstr='#EDEDED');
    }

    div.button_operator:active {
        -webkit-box-shadow: 0px 2px 0px #41403F;
        -moz-box-shadow: 0px 2px 0px #41403F;
        box-shadow: 0px 2px 0px #41403F;
        position: relative;
        top: 5px;
        cursor: pointer;
    } 

    .calculator_icon {
        padding: 2%;
        float: left;
    }


    .calculator_icon:hover {
        transform: scale(1.5, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        background: transparent;
        }

    .calculator > div {
        display: inline;
    }

    .technologyUsed {
        padding-top: 10%;
    }