    
* {
    font-family: 'Lora', serif;
}

a:link {
    text-decoration: none;
}

p.powered-by, .navbar {
    text-align: center;
    font-size: 2vw;
    color: #41403F;
}   

p.quote {
    text-align: center;
    font-size: 3vw;
    color: #41403F;
}

.navbar, p.powered-by {
    font-weight: bold;
    font-style: italic;
}

header {
    min-width: 100%;
    height: auto;
    background-color: #002A55;
}

.name {
    font-weight: bold;
    color: white;
    font-size: 6vw;
    text-transform: uppercase;
}

.desciption {
    font-size: 2vw;
    color: white;
    font-style: italic;
}

.header_text {
    padding-top: 2%;
}

.gallery {
    display: inline;
}

.gallery:hover {
 transform: scale(1.1, 1.1);
 -moz-transform: scale(1.1, 1.1);
-ms-transform: scale(1.1, 1.1);
-webkit-transform: scale(1.1, 1.1);
-o-transform: scale(1.1, 1.1);
}

ul {
    list-style-type: none;
}


.footer-bar {
    margin: auto;
    text-align: center;
    margin-top: 10%;
  }

.footer-bar ul li {
    float: left;
    text-align: center;
    width: 33%;
  }

.footer-bar hr {
    width: 33%;
    height: .063rem;
    margin: 3rem 1rem;
    display: inline-block;
  }

.footer-bar ul {
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 0;
}

.icon {
    display: inline;
    padding: 15%;
}

.icon:hover {
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    background: transparent;
}

.border {
    border: 1px solid black;
}

.button-margin {
    margin-top: 15%;
}

select option:first-child {
    color: grey; display: none;
}




