
p {
	color: #555;
}

.text {
	margin-top: 3%;
	margin-bottom: 10%;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
	width: 100%;
	position: absolute;
} 

li, .author {
	text-transform: uppercase;
	font-weight: 900;
	padding: 1%;
}

@media screen and (max-width: 600px) {
    .banner {
		height: 161px;
		margin-top: 1%;
	}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .banner {
    	height: 228px;
		margin-top: 1%;
	}
}

@media screen and (min-width: 801px) and (max-width: 1024px)  {
    .banner {
    	height: 280px;
		margin-top: 1%;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1200px)  {
    .banner {
    	height: 325px;
		margin-top: 1%;
	}
}

@media screen and (min-width: 1201px) {
    .banner {
 		height: 416px;
		margin-top: 1%;
	}
}